<template>
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Keterangan Borongan <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="keterangan_borongan" class="form-control col-md-7 col-xs-12 inputs" required="required" v-model="ket">
            </div>
        </div>
        <div class="well" v-for="(item,key) in rows">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Konsumen <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12 row">
                    <div class="col-md-10 col-xs-10">
                        <template v-if="id != null">
                            <input type="hidden" name="id[]" v-model="item.id">
                        </template>
                        <select2 :name="'konsumen_id['+key+']'" class="form-control col-md-7 col-xs-12 inputs" :options="$root.option_konsumen" v-model="item.konsumen_id" :multiple="false">
                        </select2>
                    </div>
                    <div class="col-md-1 col-xs-1">
                        <span class="font-btn glyphicon glyphicon-plus" style="cursor: pointer;" @click="addRow()"></span>
                        <span class="font-btn glyphicon glyphicon-minus" style="cursor: pointer;" v-on:click="removeRow(item)"></span>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <p class="fa fa-refresh fa-2x" style="cursor: pointer;" @click="$root.getKonsumen()"></p>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Jenis Jahitan <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" :name="'jenis_jahitan['+key+']'" class="form-control col-md-7 col-xs-12 inputs" required="required" v-model="item.jenis_jahitan">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Qty <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" :name="'jumlah['+key+']'" class="form-control col-md-7 col-xs-12 inputs" required="required" v-model="item.jumlah">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Stel / Pcs <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" :name="'kuantitas['+key+']'" class="form-control col-md-7 col-xs-12 inputs" required="required" v-model="item.kuantitas">
                </div>
            </div> -->
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Detail Jenis Jahitan <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input-dinamis-custom :nama="'jenis_jahitan_detail['+key+']'" :index="key" :produksi="item.produksi"></input-dinamis-custom>
                </div>
            </div>
            <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Harga <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <currency-input kode="Rp." v-model="item.harga" :name="'harga'"></currency-input>
                    <input :value="item.harga" type="hidden" name="harga" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: { default: null },
            keterangan: { default: null },
        },
        data: function() {
            return {
                option_konsumen: [],
                option_tambahan: [],
                rows: [],
                base_url: $('#base_url').val(),
                ket: '',
            }
        },
        methods: {
            addRow: function () {
                this.rows.push({id: '', konsumen_id: '', jenis_jahitan: '', jumlah: '', kuantitas: '', tambahan: '', produksi: [], harga: 0});
            },
            removeRow: function(index){
                if(this.rows.length == 1) {
                    notify('Kesalahan', 'Data tidak dapat dihapus', 'error');
                    return false;
                }

                if (!confirm("Apakah anda yakin?")) {
                    return false;
                }

                this.rows.splice(this.rows.indexOf(index), 1)
            },
            getKonsumen: function(){
                var that = this;
                $.getJSON(this.base_url + '/konsumen/get-konsumen', function(data){
                    $.each(data, function(key, val){
                        that.option_konsumen.push({id: key, text: String(val)})
                    })
                });
            },
            getTambahan: function() {
                var that = this;
                $.getJSON(this.base_url + '/tambahan/get-tambahan', function(data){
                    $.each(data, function(key, val){
                        that.option_tambahan.push({id: key, text: String(val)})
                    })
                });
            },
            getOrder: function() {
                var that = this;
                $.getJSON(this.base_url + '/order/borongan/get-order', {id: that.id}, function(data){
                    $.each(data, function(key, val){
                        that.rows.push({id: val.id, konsumen_id:val.id_konsumen, jenis_jahitan:val.jenis_jahitan, jumlah:val.jumlah, kuantitas:val.kuantitas, tambahan:val.id_tambahan, produksi: val.produksi, harga: val.harga})
                    })
                });
            },
        },
        mounted() {
            if(this.id != null) {
                this.getOrder();
            }else{
                this.rows.push({id: '', konsumen_id: '', jenis_jahitan: '', jumlah: '', kuantitas: '', tambahan: '', produksi: [], harga: 0});
            }

            this.$root.getKonsumen();
            this.$root.getJahitan();

            this.ket = this.keterangan;
        }
    }
</script>
