<template>
    <div>
        <input type="text" @keypress="isNumber()" v-model="displayValue" @blur="isInputActive = false" @focus="isInputActive = true" class="form-control inputs" maxlength="20" :readonly="readonly" required/>
    </div>
</template>

<script>
    export default {
        props: {
          value: {default:  0},
          name: {default:  ''},
          readonly: {default:  false},
          kode: {default: ''},
        },
        data: function() {
            return {
                isInputActive: false
            }
        },
        methods: {
          isNumber: function(evt) {
              evt = (evt) ? evt : window.event;
              var charCode = (evt.which) ? evt.which : evt.keyCode;
              if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                  evt.preventDefault();;
              } else {
                  return true;
              }
          },
        },
        computed: {
            displayValue: {
                get: function() {
                    if (this.isInputActive) {
                        return this.value.toString()
                    } else {
                        return this.kode + " " + this.value.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1.")
                    }
                },
                set: function(modifiedValue) {
                    let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""))
                    if (isNaN(newValue)) {
                        newValue = 0
                    }
                    this.$emit('input', newValue)
                }
            }
        }
    }
</script>
