<template>
	<div>
		<div class="row well" v-for="(item,k) in rows">
			<div class="col-md-10 col-xs-10">
                <div class="col-md-3">
                    <select name="qty[]" class="form-control" v-model="item.qty">
                        <option v-for="i in 20" :value="i">{{ i }}</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <input type="hidden" name="produksi_id[]" v-model="item.id">
                    <select2 :name="nama+'[]'" class="form-control" :options="$root.option_jenis_jahitan" v-model="item.field1" :multiple="false">
                    </select2>
                </div>
			</div>
			<div class="col-md-1 col-xs-1">
                <span class="font-btn glyphicon glyphicon-plus" style="cursor: pointer;" @click="addRow()"></span>
                <span class="font-btn glyphicon glyphicon-minus" style="cursor: pointer;" v-on:click="removeRow(item)"></span>
			</div>
            <div class="col-md-1 col-sm-1">
                <span class="font-btn fa fa-refresh fa-2x" style="cursor: pointer;" @click="$root.getJahitan()"></span>
            </div>

	        <div class="clearfix"></div>
	        <br>
            <div class="col-md-12 col-xs-12">
                <pemakaian-bahan :bahan="item.bahan_id" :jahit="item.field1" :suffix="item.suffix_bahan"></pemakaian-bahan>
            </div>

            <div class="clearfix"></div>
            <br>

            <div class="col-md-12">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="last-name">Tambahan</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select2 :name="'tambahan['+k+'][]'" class="form-control" :options="$root.option_tambahan" :multiple="true" v-model="item.tambahan">
                    </select2>
                </div>
                <div class="col-md-1 col-sm-1">
                    <p class="fa fa-refresh fa-2x" style="cursor: pointer;" @click="$root.getTambahan()"></p>
                </div>
            </div>

            <div class="clearfix"></div>
            <br>
		</div>
        <span class="font-btn glyphicon glyphicon-plus pull-right" style="cursor: pointer;" @click="addRow()"></span>
	</div>
</template>

<script>
    export default {
        data: function() {
            return {
                rows: [],
                base_url: $('#base_url').val(),
            }
        },
        props: {
        	nama: { default: 'item' },
            produksi: {},
        },
        methods: {
            addRow: function () {
            	if(this.rows[this.rows.length - 1].field1 == '') {
            		notify('Kesalahan', 'Data harus diisi', 'error');
            		return false;
            	}

                this.rows.push({field1:'',bahan_id:'',id: null,qty: 1})
            },
            removeRow: function(index){
                if(this.rows.length == 1) {
                	notify('Kesalahan', 'Data tidak dapat dihapus', 'error');
                	return false;
                }

                if (!confirm("Apakah anda yakin?")) {
                    return false;
                }

                this.rows.splice(this.rows.indexOf(index), 1)
            },
        },
        mounted() {
            this.$root.getJahitan();

            if(this.produksi) {
                var length = JSON.parse(this.produksi);
                var that = this;
                $.each(length, function(key, value) {
                    that.rows.push({field1:value.jenis_jahitan,bahan_id:value.id_bahan,id:value.id,tambahan: value.id_tambahan, suffix_bahan: value.suffix_bahan, qty: value.qty})
                })
            }else{
                this.rows.push({field1:'',bahan_id:'',id: null,qty: 1})
            }
        }
    }
</script>
