<template>
    <div>
        <div v-bind:class="{ 'dimmed': isLoading }" class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">

            <input type="hidden" name="id_order" :value="order_id">

            <template v-if="items.length == 0">
                <div class="panel">
                    <a class="panel-heading" href="javascript:void(0);">
                        <h4 class="panel-title">Order Kosong</h4>
                    </a>
                </div>
            </template>

            <div class="row" v-for="(row, idx) in items">
                <div class="col-md-3" style="cursor:pointer;" v-for="(prod, key) in row">
                    <div class="well pull-left" @click.prevent="mark">
                        <div class="col-md-1">
                            <input type="checkbox" name="produksi[]" class="pull-right" :value="prod.id">
                        </div>
                        <div class="col-md-10">
                            <h4 class="panel-title" v-if="prod.order">{{ prod.order.kode }}{{ prod.suffix }} {{ prod.tanggal_order }}</h4>
							<h4 class="panel-title" v-else>Order tidak ditemukan {{ prod.id_order }}</h4>
                            <label v-if="prod.konsumen">{{ prod.konsumen.nama }} {{ prod.konsumen.pangkat }} ({{ prod.konsumen.nrp }}) {{ prod.konsumen.tik }} {{ prod.konsumen.fungsi }}</label>
                            <label v-else>Konsumen tidak ditemukan</label>
                            <br>
                            <template v-if="prod.karyawan">
                                <label>{{ prod.karyawan.nama }} {{ prod.waktu }}</label>
                            </template>
                            <label>{{ prod.qty }} {{ prod.jenis_jahitan }} {{ prod.bahan ? prod.bahan.nama_bahan : '' }} {{ prod.suffix_bahan }}</label>
                            <label v-if="prod.tambahan">{{ prod.tambahan }}</label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
export default {
	props: {
		bagian: {},
	},
	data: function() {
		return {
			order_id: [],
			items: [],
			search: [],
			isLoading: true,
		}
	},
	methods: {
		getData: function(search) {
			var that = this

			that.isLoading = true

			$.getJSON(
				this.$root.base_url + '/produksi/get-produksi',
				{ bagian: that.bagian, keyword: search },
				function(data) {
					that.items = data
				},
			)

			that.isLoading = false
		},
		breakRow: function(id) {
			this.search.push(id)

			return {
				row: this.search.indexOf(id) != -1,
				'': this.search.indexOf(id) == -1,
			}
		},
		mark: function(e) {
			var element = $(e.target).parent()

			if (element.hasClass('col-md-10')) {
				element = element.parent().find('input:checkbox')
			} else {
				element = element.find('input:checkbox')
			}

			if (element.is(':checked')) {
				element.prop('checked', false)
			} else {
				element.prop('checked', true)
			}
		},
	},
	mounted() {
		var that = this
		this.$nextTick(
			function() {
				window.eventHub.$on('get-data-produksi', function(search) {
					that.getData(search)
				})
			}.bind(this),
		)

		this.getData()
	},
}
</script>
