<template>
    <div class="row">
        <div class="col-md-11 col-sm-11 col-xs-11">
            <select2 :name="'bahan_id['+index+'][]'" class="form-control" :options="option_bahan" :multiple="false" v-model="bahan_id" placeholder="Nama Bahan">
            </select2>
            <div class="clearfix"></div>
            <br>

            <input type="text" :name="'suffix_bahan['+index+'][]'" class="form-control inputs" placeholder="Kode Bahan (Optional)">
            <br>

            <input type="text" :name="'pemakaian_bahan['+index+'][]'" class="form-control" required="required" v-model="satuan_bahan" placeholder="Satuan Bahan">
        </div>
        <div class="col-md-1 col-sm-1">
            <span class="font-btn fa fa-refresh fa-2x" style="cursor: pointer;" @click="getBahan()"></span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: {  },
            index: { },
            bahan: {},
            jahit: {},
        },
        data: function() {
            return {
                option_bahan: [],
                satuan_bahan: 0,
                bahan_id: '',
            }
        },
        methods: {
            getBahan: function(){
                var that = this;
                this.$root.isLoading = true;
                this.option_bahan = [];
                $.getJSON(this.$root.base_url + '/bahan/get-bahan', function(data){
                    $.each(data, function(val, key){
                        that.option_bahan.push({id: key, text: String(val)})
                    })
                    that.$root.isLoading = false;
                });
            },
            getSatuanBahan: function(){
                var that = this;
                $.getJSON(this.$root.base_url + '/bahan/get-satuan-bahan', {bahan_id: this.jahit}, function(data){
                    that.satuan_bahan = data.satuan;
                });
            },
        },
        mounted() {
            var that = this;

            this.getBahan();
            this.$watch('jahit',function() {
                this.getSatuanBahan();
            });

            if(this.bahan) {
                this.bahan_id = this.bahan.toString();
            }

            if(this.jahit) {
                this.getSatuanBahan();
            }

            window.eventHub.$on('refresh-bahan', function(objid) {
                that.getBahan();
            })
        }
    }
</script>
