<template>
    <select></select>
</template>

<script>
    export default {
        props: {
            templateResult: { type: Function, default: null },
            options: { type: Array, default: function () { return [] } },
            allowClear: { type: Boolean, default: false },
            placeholder: { type: String, default: 'Silakan Pilih...' },
            multiple: { type: Boolean, default: false },
            value: {  },
            change: { type: Function },
            storeObject: { type: Boolean, default: false },
            focused: false,
        },
        watch: {
          value: function(value,oldVal) {
            var self = this
            $(self.$el).val(self.value).trigger('change')
          },
          options: function(newoption,oldoption) {
            $(this.$el).empty().select2({ data: newoption })

            this.refreshOptions()
          },
        },
        methods: {
          refreshOptions: function() {
            var self = this
            var config = {
                debug: true,
              data: self.options ? self.options : [],
              placeholder: self.placeholder
            }
            if (self.templateResult) {
              config.templateResult = self.templateResult;
              config.templateSelection = self.templateResult;
            }
            if (self.multiple === true) {
                $(self.$el).attr('multiple', true)
              if (self.allowClear === true) {
                config.allowClear = true
              }
            }
            if ($(self.$el).data('select2')) {
              $(self.$el).select2('destroy').find('option').remove()
            }
            if (!$(self.$el).hasClass('select2-hidden-accessible')) {
              $(self.$el).select2(config).on('select2:select select2:unselect', function () {
                if (self.multiple) {
                    var v = _.map($(self.$el).select2('data'), function (d) {
                      return self.storeObject ? _.omit(d, ['element', 'selected', 'disabled']) : d.id
                    })
                    self.$emit('input', v)
                } else {
                    var v = $(self.$el).val()
                    self.$emit('input', v)
                }
                if (_.isFunction(self.change)) self.change(v)
              })
              $(self.$el).val(self.value).trigger('change')
            }

            if(this.focused) {
              $(self.$el).select2('open');
            }
          }
        },
        created: function () {
          var self = this
          setTimeout(self.refreshOptions,0)
        }
    }
</script>
