<template>
  <div>
    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
      <input type="hidden" name="id_order" :value="order_id" />

      <template v-if="items.length == 0">
        <div class="panel">
          <a class="panel-heading" href="javascript:void(0);">
            <h4 class="panel-title">Order Kosong</h4>
          </a>
        </div>
      </template>

      <div class="row" v-for="(row, idx) in items">
        <div
          v-if="(row.bagian == 'jahit' && prod.status_akhir == 3) || (row.bagian == 'cutting' && prod.status_akhir == 1)"
          v-for="(prod, key) in row.produksi"
          style="cursor: pointer;"
          onclick="$(this).find('form').submit();"
          class="well col-md-3"
        >
          <form class="form-horizontal" method="post" :action="$root.base_url + '/' + url">
            <input type="hidden" name="_token" :value="$root.csrf_token" />

            <input type="hidden" name="id_order" :value="row.id" />
            <input
              v-if="$root.params.work_date != ''"
              type="hidden"
              name="work_date"
              :value="$root.params.work_date"
            />
            <input
              v-if="$root.params.work_time != ''"
              type="hidden"
              name="work_time"
              :value="$root.params.work_time"
            />

            <div class="panel-title">
              <button
                type="submit"
                class="btn btn-sm btn-success pull-right"
                :disabled="!prod.not_disabled"
              >Selesai</button>

              <h4>{{ prod.kode }} {{ prod.tanggal_order }}</h4>
            </div>

            <input type="hidden" :name="'produksi['+key+']'" :value="prod.id" />

            <fieldset v-if="row.bagian == 'cutting'">
              <label>{{ row.konsumen.nama }} {{ row.konsumen.pangkat }} ({{ row.konsumen.nrp }}) {{ row.konsumen.tik }} {{ row.konsumen.fungsi }}</label>
              <label>{{ prod.qty }} {{ prod.jenis_jahitan }} {{ prod.bahan ? prod.bahan['nama_bahan'] : '' }} {{ prod.suffix_bahan }}</label>
              <label>{{ prod.cutting ? prod.cutting.nama : '' }} {{ prod.waktu_mulai }}</label>
            </fieldset>

            <fieldset v-if="row.bagian == 'jahit'">
              <label>{{ row.konsumen.nama }} {{ row.konsumen.pangkat }} ({{ row.konsumen.nrp }}) {{ row.konsumen.tik }} {{ row.konsumen.fungsi }}</label>
              <br />
              <label>{{ prod.qty }} {{ prod.jenis_jahitan }} {{ prod.bahan ? prod.bahan['nama_bahan'] : '' }} {{ prod.suffix_bahan }}</label>
              <br />
              <label>{{ prod.jahit ? prod.jahit.nama : '' }} {{ prod.waktu_mulai }}</label>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    bagian: {},
    url: ""
  },
  data: function() {
    return {
      order_id: [],
      items: [],
      search: [],
      isLoading: true
    };
  },
  methods: {
    getData: function(search) {
      var that = this;

      that.isLoading = true;

      $.getJSON(
        this.$root.base_url + "/produksi/get-selesai-produksi",
        { bagian: that.bagian, keyword: search },
        function(data) {
          that.items = data;
        }
      );

      that.isLoading = false;
    },
    breakRow: function(id) {
      this.search.push(id);

      return {
        row: this.search.indexOf(id) != -1,
        "": this.search.indexOf(id) == -1
      };
    },
    mark: function(e) {
      var element = $(e.target).parent();

      if (element.hasClass("col-md-10")) {
        element = element.parent().find("input:checkbox");
      } else {
        element = element.find("input:checkbox");
      }

      if (element.is(":checked")) {
        element.prop("checked", false);
      } else {
        element.prop("checked", true);
      }
    }
  },
  mounted() {
    var that = this;
    this.$nextTick(
      function() {
        window.eventHub.$on("get-data-selesai-produksi", function(search) {
          that.getData(search);
        });
      }.bind(this)
    );

    this.getData();
  }
};
</script>
