.bg-custom-warning{
    background-color: #f39c12 !important;
    color:#fff;
}

.bg-custom-danger{
    background-color: #dd4b39 !important;
    color:#fff;
}

.bg-custom-success{
	background-color: #00a65a !important;
	color: #fff;
}

.custom-accordion .panel-heading {
	min-height: 70px;
}