<template>
    <thead>
        <template v-if="$root.params.bagian !== 'finishing'">
            <tr>
                <th class="text-center">No Order</th>
                <th class="text-center">Qty</th>
                <th class="text-center">Order</th>
                <th class="text-center">Tanggal Selesai</th>
                <th class="text-center">Harga</th>
                <th class="text-center">Tambahan</th>
                <th class="text-center">Subtotal</th>
            </tr>
        </template>
        <template v-if="$root.params.bagian == 'finishing'">
            <tr>
                <th class="text-center">Tanggal</th>
                <th class="text-center">Jam Masuk</th>
                <th class="text-center">Jam Pulang</th>
                <th class="text-center">Gaji</th>
                <th class="text-center">Lembur</th>
                <th class="text-center">Lembur2</th>
                <th class="text-center">Tunjangan</th>
                <th class="text-center">Total Tunjangan</th>
                <th class="text-center">Subtotal</th>
            </tr>
        </template>
    </thead>
</template>

<script>
    export default {
        props: ['item','pagination','rowparams','index'],
        data() {
          return {
            base_url: base_url,
          }
        },
        methods: {
            deleteItem(item) {
                if (!confirm("Apakah anda yakin?")) return;
                axios.post(base_url + '/bahan/delete', {
                    id: this.item.id,
                  }).then((response) => {
                  var data = response.data;
                  notify(data.message,'',data.success ? 'success' : 'error');
                  if (data.success) {
                    window.eventHub.$emit('refresh-ajaxtable','data-bahan');
                  }
                },(response) => {
                  notify('Gagal menghapus data','','error');
                })
            },
        },
        mounted() {

        }
    }
</script>
