<template>
    <thead>
        <tr>
            <th class="text-center">No Order</th>
            <th class="text-center">Jenis Jahitan</th>
            <th colspan="2" class="text-center">Pola</th>
            <th colspan="2" class="text-center">Jahit</th>
            <th class="text-center">QC</th>
            <th colspan="2" class="text-center">Ekspedisi</th>
        </tr>
        <tr>
            <th colspan="2" class="text-center"></th>
            <th class="text-center">Mulai</th>
            <th class="text-center">Selesai</th>
            <th class="text-center">Mulai</th>
            <th class="text-center">Selesai</th>
            <th class="text-center">Selesai</th>
            <th class="text-center">Mulai</th>
            <th class="text-center">Selesai</th>
        </tr>
    </thead>
</template>

<script>
    export default {
        props: ['item','pagination','rowparams','index'],
        data() {
          return {
            base_url: base_url,
          }
        },
        methods: {
            deleteItem(item) {
                if (!confirm("Apakah anda yakin?")) return;
                axios.post(base_url + '/bahan/delete', {
                    id: this.item.id,
                  }).then((response) => {
                  var data = response.data;
                  notify(data.message,'',data.success ? 'success' : 'error');
                  if (data.success) {
                    window.eventHub.$emit('refresh-ajaxtable','data-bahan');
                  }
                },(response) => {
                  notify('Gagal menghapus data','','error');
                })
            },
        },
        mounted() {

        }
    }
</script>
