<template>
  <tr>
      <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
      <td>
        {{ item.kode }}
      </td>
      <td>{{ item.nama_bahan }}</td>
      <!-- <td>{{ item.jenis_model }}</td> -->
      <!-- <td>{{ item.satuan }}</td> -->
      <td>{{ item.harga }}</td>
      <!-- <td>{{ item.jenis }}</td> -->
      <td width="70px">
        <a v-bind:href="base_url+'/bahan/view/'+item.id"><span class="fa fa-eye"></span> Lihat</a><br>
        <a v-bind:href="base_url+'/bahan/edit/'+item.id"><span class="fa fa-edit"></span> Edit</a><br>
        <a href="javascript:void(0);" @click="deleteItem(item)" class="text-danger"><span class="fa fa-trash-o"></span> Hapus</a>
      </td>
  </tr>
</template>

<script>
    export default {
        props: ['item','pagination','rowparams','index'],
        data() {
          return {
            base_url: base_url,
          }
        },
        methods: {
            deleteItem(item) {
                if (!confirm("Apakah anda yakin?")) return;
                axios.post(base_url + '/bahan/delete', {
                    id: this.item.id,
                  }).then((response) => {
                  var data = response.data;
                  notify(data.message,'',data.success ? 'success' : 'error');
                  if (data.success) {
                    window.eventHub.$emit('refresh-ajaxtable','data-bahan');
                  }
                },(response) => {
                  notify('Gagal menghapus data','','error');
                })
            },
        },
        mounted() {

        }
    }
</script>
