<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>
          {{ item.kode }}
        </td>
        <td>{{ item.konsumen ? item.konsumen.nrp : '' }}</td>
        <td>{{ item.konsumen ? item.konsumen.nama : '' }}</td>
        <!-- <td>{{ item.jenis_jahitan }}</td> -->
        <td>{{ item.harga }}</td>
        <!-- <td>{{ item.jumlah }}</td>
        <td>{{ item.kuantitas }}</td> -->
        <td>
          <label :class="'btn ' + item.bg_color + ' btn-xs'">{{ item.status_akhir }}</label>
        </td>
        <td width="70px">
          <a v-bind:href="base_url+'/order/view/'+item.id"><span class="fa fa-eye"></span> Lihat</a><br>
          <template v-if="$parent.oid == 'data-order'">
            <a v-bind:href="base_url+'/order/edit/'+item.id"><span class="fa fa-edit"></span> Edit</a><br>
          </template>
          <template v-if="$parent.oid == 'custom-order'">
            <a v-bind:href="base_url+'/order/custom/edit/'+item.id"><span class="fa fa-edit"></span> Edit</a><br>
          </template>
          <template v-if="$parent.oid == 'permak-order'">
            <a v-bind:href="base_url+'/order/permak/edit/'+item.id"><span class="fa fa-edit"></span> Edit</a><br>
          </template>
          <template v-if="$parent.oid == 'sespim-order'">
            <a v-bind:href="base_url+'/order/sespim/edit/'+item.id"><span class="fa fa-edit"></span> Edit</a><br>
          </template>
          <a href="javascript:void(0);" @click="deleteItem(item)" class="text-danger"><span class="fa fa-trash-o"></span> Hapus</a>
        </td>
    </tr>
</template>

<script>
    export default {
        props: ['item','pagination','rowparams','index'],
        data() {
          return {
            base_url: $('#base_url').val(),
          }
        },
        methods: {
            deleteItem(item) {
                if (!confirm("Apakah anda yakin?")) return;
                axios.post(base_url + '/order/delete', {
                    id: this.item.id,
                  }).then((response) => {
                  var data = response.data;
                  notify(data.message,'',data.success ? 'success' : 'error');
                  if (data.success) {
                    window.eventHub.$emit('refresh-ajaxtable',this.$parent.oid);
                  }
                },(response) => {
                  notify('Gagal menghapus data','','error');
                })
            },
        },
        mounted() {

        }
    }
</script>
