<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>
          {{ item.kode }}
        </td>
        <td>{{ item.konsumen.nrp }}</td>
        <td>{{ item.konsumen.nama }}</td>
        <td>{{ item.keterangan_borongan }}</td>
        <td width="70px">
          <a v-bind:href="base_url+'/order/borongan/view/'+item.increment_id"><span class="fa fa-eye"></span> Lihat</a><br>
          <a v-bind:href="base_url+'/order/borongan/edit/'+item.increment_id"><span class="fa fa-edit"></span> Edit</a><br>
          <a href="javascript:void(0);" @click="deleteItem(item)" class="text-danger"><span class="fa fa-trash-o"></span> Hapus</a>
        </td>
    </tr>
</template>

<script>
    export default {
        props: ['item','pagination','rowparams','index'],
        data() {
          return {
            base_url: $('#base_url').val(),
          }
        },
        methods: {
            deleteItem(item) {
                if (!confirm("Apakah anda yakin?")) return;
                axios.post(base_url + '/order/borongan/delete', {
                    id: this.item.increment_borongan,
                  }).then((response) => {
                  var data = response.data;
                  notify(data.message,'',data.success ? 'success' : 'error');
                  if (data.success) {
                    window.eventHub.$emit('refresh-ajaxtable','data-order');
                  }
                },(response) => {
                  notify('Gagal menghapus data','','error');
                })
            },
        },
        mounted() {

        }
    }
</script>
