<template>
    <tbody>
        <template v-if="item.category != 'finishing' && !item.total_gaji">
            <tr>
                <td>{{ item.kode }}</td>
                <td style="text-align: center;">{{ item.qty }}</td>
                <td>{{ item.jenis_jahitan }}</td>
                <td style="text-align: center;">{{ item.tanggal_selesai }}</td>
                <td style="text-align: right;">{{ item.harga }}</td>
                <td style="text-align: right;">{{ item.tambahan }}</td>
                <td style="text-align: right;">{{ item.subtotal }}</td>
            </tr>
        </template>
        <template v-if="item.category != 'finishing' && item.total_gaji">
            <tr>
                <td><label>Total</label></td>
                <td style="text-align: center;">{{ item.total_qty }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right;">{{ item.total_gaji }}</td>
            </tr>
        </template>
        <template v-if="item.category == 'finishing' && !item.total_gaji">
            <tr>
                <td>{{ item.tanggal }}</td>
                <td>{{ item.masuk }}</td>
                <td>{{ item.pulang }}</td>
                <td>{{ item.gaji }}</td>
                <td>{{ item.lembur }}</td>
                <td>{{ item.lembur2 }}</td>
                <td>{{ item.tunjangan.map(function(tunjangan){return tunjangan.nama}).join(', ') }}</td>
                <td>{{ item.total_tj }}</td>
                <td>{{ item.subtotal }}</td>
            </tr>
        </template>
        <template v-if="item.category == 'finishing' && item.total_gaji">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{ item.total_gaji }}</td>
            </tr>
        </template>
    </tbody>
</template>

<script>
export default {
	props: ['item', 'pagination', 'rowparams', 'index'],
	data() {
		return {
			base_url: base_url,
		}
	},
	methods: {
		deleteItem(item) {
			if (!confirm('Apakah anda yakin?')) return
			axios
				.post(base_url + '/bahan/delete', {
					id: this.item.id,
				})
				.then(
					response => {
						var data = response.data
						notify(data.message, '', data.success ? 'success' : 'error')
						if (data.success) {
							window.eventHub.$emit('refresh-ajaxtable', 'data-bahan')
						}
					},
					response => {
						notify('Gagal menghapus data', '', 'error')
					},
				)
		},
	},
	mounted() {},
}
</script>
