<template>
    <tbody>
        <tr v-for="(prod, key) in item.produksi">
            <td :class="{'text-right': key != 0}">
                {{ key == 0 ? prod.kode : prod.suffix }}
                <br>
                {{ prod.tanggal_order }}
            </td>
            <td>
                {{ prod.qty }} {{ prod.jenis_jahitan }}<br>
                {{ prod.bahan ? '( ' + prod.bahan.nama_bahan + ' )' : '' }}<br>
                {{ item.konsumen.nrp }} {{ item.konsumen.nama }} {{ item.konsumen.pangkat }} {{ item.konsumen.tik }} {{ item.konsumen.fungsi }}
            </td>
            <td :class="prod.status_akhir == 1 ? prod.bg_color : ''">
                {{ prod.cutting ? '( ' + prod.cutting.nama + ' )' : '' }}<br>
                {{ prod.waktu_mulai_cutting }}
            </td>
            <td>
                {{ prod.waktu_selesai_cutting }}
            </td>
            <td :class="prod.status_akhir == 3 ? prod.bg_color : ''">
                {{ prod.jahit ? '( ' + prod.jahit.nama + ' )' : '' }}<br>
                {{ prod.waktu_mulai_jahit }}
            </td>
            <td>
                {{ prod.selesai_jahit ? '( ' + prod.selesai_jahit.nama + ' )' : '' }}<br>
                {{ prod.waktu_selesai_jahit }}
            </td>

            <td>
                {{ prod.waktu_mulai_finishing }}
            </td>

            <td :class="prod.status_akhir == 7 ? prod.bg_color : ''">
                {{ prod.id_karyawan_ekspedisi == 0 ? '( ' + prod.no_resi + ' )' : prod.ekspedisi ? '( ' + prod.ekspedisi.nama + ' )' : '' }}<br>
                {{ prod.id_karyawan_ekspedisi == 0 ? prod.waktu_mulai_ekspedisi : prod.ekspedisi ? prod.waktu_mulai_ekspedisi : '' }}
            </td>
            <td>
                {{ prod.ekspedisi && prod.id_karyawan_ekspedisi != 0 ? prod.waktu_selesai_ekspedisi : '' }}
            </td>
        </tr>
    </tbody>
</template>

<script>
    export default {
        props: ['item','pagination','rowparams','index'],
        data() {
          return {
            base_url: base_url,
          }
        },
        methods: {
            deleteItem(item) {
                if (!confirm("Apakah anda yakin?")) return;
                axios.post(base_url + '/bahan/delete', {
                    id: this.item.id,
                  }).then((response) => {
                  var data = response.data;
                  notify(data.message,'',data.success ? 'success' : 'error');
                  if (data.success) {
                    window.eventHub.$emit('refresh-ajaxtable','data-bahan');
                  }
                },(response) => {
                  notify('Gagal menghapus data','','error');
                })
            },
        },
        mounted() {

        }
    }
</script>
