<template>
    <tbody>
        <tr>
            <td>
                {{ item.nama }}
            </td>
            <td>
                {{ item.tanggal }}
            </td>            
            <td>
                {{ item.jam_kerja }}
            </td>
            <td>
                {{ (item.is_telat == 0 ) ? "Tidak" : "Ya" }}
            </td>
            <td>
                {{ (item.status == 0 ) ? "Masuk " : "Keluar"  }}
            </td>
            <td>
                {{ (item.is_lembur == 0  || item.is_lembur == "") ? "Tidak " : "Ya" }}
            </td>
        </tr>
    </tbody>
</template>

<script>
    export default {
        props: ['item','pagination','rowparams','index'],
        data() {
          return {
            base_url: base_url,
          }
        },
        methods: {
        },
        mounted() {
        }
    }
</script>
